body{
	background: black;
	color: white;
}

#drone_selection{
	width: 300px;
}

#fancy_from{
	display: inline-block;
	border: 1px solid white;
}

#fancy_from table{
	text-align: left;
}

#fancy_from input{
	width: 300px;
}

#fancy_from select{
	width: 300px;
}

#fancy_from .other{
	width: 300px;
}

#fancy_from button{
	display: block;
	width: 100%;
}

#fancy_tabel{
	border: 1px solid white;
}

#fancy_tabel th{
	border-bottom: 1px solid white;
}

/*#fancy_tabel .most_right{
	border-right: 1px solid white;
}*/

#fancy_tabel td:last-child{
	border-right: 1px solid white;
}

#fancy_tabel th:last-child{
	border-right: 1px solid white;
}


tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}