<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Liftoff Scores</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo.jpg') }}" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">
		<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tabel.css') }}">-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<!--based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav-->
		{% include "menu.html" %}
		
		<div id="main">
			<center>
				<h1>Breaking Pilot</h1>
			</center>
			<span style="font-size:30px;cursor:pointer" onclick="openNav()" align="left">☰ Open Menu</span>
			<center>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<p id="current"></p>
				<p id="inARow"></p>
				<br>
				<br>
				<div id="fancy_from">
					<form action="/breakingpilot" method="POST">
						<table>
							<tr>
								<td>User</td>
								<td>
									<select  id="userid" name="userid" required>
										{% for user in users %}
											<option value="{{ user[0] }}" style="background: {{ user[2] }};">{{ user[1] }}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td>
									Ehrenhalber<input type="radio" id="mode" name="mode" value="e" checked="checked">
								</td><td>
									Verdientermaßen <input type="radio" id="mode" name="mode" value="v">
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<select  id="partid" name="partid" required>
										{% for part in parts%}
											<option value="{{ part[0] }}">{{ part[1] }}:{{ part[2] }}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<textarea id="description" name="description" rows="4" cols="50" maxlength="1000" style="width: 100%;"></textarea>
								
									<div id="count">
										<span id="current_count">0</span>
										<span id="maximum_count">/ 1000</span>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2"><button type="submit">Add Breaking Pilot</button></td>
							</tr>
						</table>
					</form>
					<br>
					{% if success == 0 %}
						<p style="color: red;">ERROR</p>
					{% elif success == 1 %}
						<p style="color: green;">Success</p>
					{% else %}
						<br>
					{% endif %}
				</div>
				<br>
				<br>
				<table id="fancy_tabel">
					<tr>
						<th>UserID</th>
						<th>Time</th>
						<th>Mode</th>
						<th>Proken Part</th>
						<th>Points</th>
						<th>Description</th>
					</tr>

				</table>
				<script>
					var breaking = JSON.parse('{{ breaking | tojson | safe}}');
					var users = JSON.parse('{{ users | tojson | safe}}');
					var parts = JSON.parse('{{ parts | tojson | safe}}');
				
					var tabel = document.getElementById("fancy_tabel");
					breaking.forEach(element => {
						var z1 =  document.createElement('tr');
						var s1 =  document.createElement('td');
						s1.innerText = users[element[0]-1][1]
						z1.appendChild(s1)
						var s1 =  document.createElement('td');
						s1.innerText = element[1];
						z1.appendChild(s1)
						var s1 =  document.createElement('td');
						s1.innerText = (element[2] === 'e' ? 'Ehrenhalber' : 'Verdientermaßen')
						z1.appendChild(s1)
						tabel.appendChild(z1)
						var s1 =  document.createElement('td');
						console.log(element[3]);
						s1.innerText = (element[2] === 'e' ? '-' : parts[element[3]-1][1])
						z1.appendChild(s1)
						var s1 =  document.createElement('td');
						s1.innerText = (element[2] === 'e' ? '0' : parts[element[3]-1][2])
						z1.appendChild(s1)
						var s1 =  document.createElement('td');
						s1.innerText = element[4];
						z1.appendChild(s1)
					});

					test = [];
					breaking.forEach(function (looses, index) {
						date = new Date(looses[1])
						test.push([looses[0], new Date(date.getFullYear(), date.getMonth(), date.getDate()),looses[2],looses[3],looses[4]])
					});
						
					var groupBy = function(xs, key) {
						return xs.reduce(function(rv, x) {
							(rv[x[key]] = rv[x[key]] || []).push(x);
							return rv;
						}, {});
					};

					grouped = groupBy(test, 1);
					lastThings = grouped[Object.keys(grouped)[Object.keys(grouped).length-1]]

					latestarray = []
					Object.keys(grouped).reverse().forEach( function (x, index) {
						grouped[x].sort(compare)
						latestarray.push(grouped[x][0])
					});

					function compare( a, b ) {
						first = a[3]
						if(first === null) first = 0;
						second = b[3]
						if(second === null) second = 0;

						if ( first > second ){
							return -1;
						}
						if ( first < second){
							return 1;
						}
						return 0;
					}
					
					lastThings.sort(compare)
					console.log(lastThings)

					var label = document.getElementById("current");
					label.innerText = "Current Breaking Pilot is "+users[latestarray[0][0]-1][1]+" ("+ (latestarray[0][2] === 'e' ? 'Ehrenhalber' : 'Verdientermaßen') + ")";

					var inARowCount = Array(users.length+1).fill(0)
					var oldUser = 0
					var counter = 1
					latestarray.forEach(element => {
						if(oldUser == element[0]-1){
							counter++;
						}else{
							if(counter > inARowCount[oldUser]){
								inARowCount[oldUser] = counter;
							}
							oldUser = element[0]-1;
							counter = 1;
						}
					})
					if(counter > inARowCount[oldUser]){
						inARowCount[oldUser] = counter;
					}

					var most = inARowCount.indexOf(Math.max(...inARowCount));

					var mostInRow = document.getElementById("inARow");
					mostInRow.innerText = "Most in a row: " + users[most][1] + " " + inARowCount[most] + " times";
				
				</script>
			</center>
		</div>
		{% include "footer.html" %}
	</body>
</html>
<script type="text/javascript">
	$('textarea').keyup(function() {    
		var characterCount = $(this).val().length,
			current_count = $('#current_count'),
			maximum_count = $('#maximum_count'),
			count = $('#count');    
			current_count.text(characterCount);        
	});
</script>