<!DOCTYPE html>
<html>
	<head>
		<title>Liftoff Scores</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo.jpg') }}" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<!--based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav-->
		{% include "menu.html" %}

		<div id="main">
			<center>
				<h1>Import / Export Data</h1>
			</center>
			<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open Menu</span>
			<center>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				
				<p>The Excel fille must have to following Format</p>
				<img src="{{ url_for('static', filename='Excel-Sampel.png') }}">

				<br>
				<br>
				<div id="fancy_from">

					<form method="POST" action="/imex" enctype="multipart/form-data">
						<table>
							<tr>
								<td>Excel File:</td>
								<td><input type="file" name="file"></td>
							</tr>
							<tr>
								<td colspan="2"><button type="submit">Import File</button></td>
							</tr>

						</table>
						
					</form>
					<br>

					{% if error == -1 %}
						<p style="color: red;">Error while import, try again later</p>
					{% elif error == -2 %}
						<p style="color: red;">No file selected</p>
					{% elif error == -3 %}
						<p style="color: red;">Error in Dronename</p>
					{% elif error == -4 %}
						<p style="color: red;">Error in Username</p>
					{% elif error == -5 %}
						<p style="color: red;">Value don't match form xx:xx:xxx</p>
					{% elif error == -6 %}
						<p style="color: red;">Map and Track don't exists</p>
					{% elif error == 0 %}
						<p style="color: green;">Success</p>
					{% else %}
						<br>
					{% endif %}

				</div>

				<br>
				<br>
				<br>
				<a href="/download"  target="_blank">Download</a>
			
				

				
			</center>
		</div>
		{% include "footer.html" %}
	</body>
</html>