<html>
	<head>
		<title>Liftoff Scores</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo.jpg') }}" type="image/x-icon">
		<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="manifest" href="manifest.webmanifest">-->
	</head>
	<body>
		<p>Website in progress</p>
		<a href="/users">view users</a>
		<a href="/result">view result</a>
		<a href="/drone">view drone</a>
		<table>
			<tr>
				<th>Map</th>
				<th>Track</th>
				<th>Hardness</th>
			</tr>
			
			{% for map in tracks.maps %}
				{% for track in map.tracks %}
					<tr>
						<th>{{ map.mapname }}</th>
						<th>{{ track.trackname }}</th>
						{% if track.hardness == 1 %}
							<th style="background-color:  rgb(0, 255, 0);">{{ track.hardness  }}</th>
						{% elif track.hardness  == 2 %}
							<th style="background-color:  rgb(64, 255, 0);">{{ track.hardness  }}</th>
						{% elif track.hardness  == 3 %}
							<th style="background-color:  rgb(128, 255, 0);">{{ track.hardness  }}</th>
						{% elif track.hardness  == 4 %}
							<th style="background-color:  rgb(192, 255, 0);">{{ track.hardness  }}</th>
						{% elif track.hardness  == 5 %}
							<th style="background-color:  rgb(255, 192, 0);">{{ track.hardness  }}</th>
						{% elif track.hardness  == 6 %}
							<th style="background-color:  rgb(255, 128, 0);">{{ track.hardness  }}</th>
						{% elif track.hardness  == 7 %}
							<th style="background-color:  rgb(255, 64, 0);">{{ track.hardness  }}</th>
						{% elif track.hardness  == 8 %}
							<th style="background-color:  rgb(255, 0, 0);">{{ track.hardness  }}</th>
						{% endif %}
					</tr>
				{% endfor %}
			{% endfor %}
		</table>
	</body>
</html>