<!DOCTYPE html>
<html>
	<head>
		<title>Liftoff Scores</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo.jpg') }}" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="manifest" href="manifest.webmanifest">-->
	</head>
	<body>
		<!--based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav-->
		{% include "menu.html" %}

		
		<div id="main">
			<h1>Overview</h1>
			<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open Menu</span>
			<br>
			<p>Website in progress</p>
			<select id="drone_selection"></select>
			<center>
				<table id="best"></table>
			</center>
			

			<script>
				//get values form flask
				var tracks = JSON.parse('{{ tracks | tojson | safe}}');
				var users = JSON.parse('{{ users | tojson | safe}}');
				var best_results = JSON.parse('{{ best_results | tojson | safe}}');
				var drone_list = JSON.parse('{{ drone_list | tojson | safe}}');
				var drone_id = 1;
				
				//color gradient
				var color = ['rgb(0,255,0)', 'rgb(64,255,0)','rgb(128,255,0)','rgb(192,255,0)','rgb(255,192,0)','rgb(255,128,0)','rgb(255,64,0)','rgb(255,0,0)' ];
				
				//create tabel
				var drone_option = document.getElementById("drone_selection");
				drone_list.forEach (function (drone) {
					var opt = document.createElement('option');
					opt.value = drone[0];
					opt.innerHTML = drone[1];
					drone_option.appendChild(opt);
				});

				//drone selection
				document.getElementById("drone_selection").onchange = udate_result_tabel;
				function udate_result_tabel(){
					drone_id = this.value;
					createResultTabel();
				}

				createResultTabel();
				function createResultTabel(){
					while(best.hasChildNodes()){
						best.removeChild(best.firstChild);
					}
					//create header
					var z1 =  document.createElement('tr');
					var s1 =  document.createElement('th');
					s1.innerHTML = "MAP";
					z1.appendChild(s1);
					var s1 =  document.createElement('th');
					s1.innerHTML = "TRACK";
					z1.appendChild(s1);
					var s1 =  document.createElement('th');
					s1.innerHTML = "HARDNESS";
					z1.appendChild(s1);
					users.forEach (function (user, index) {
						var s1 =  document.createElement('th');
							s1.innerHTML = user[1];
							s1.setAttribute("style","background: "+user[2]+";padding:0 50px 0 50px;color: "+invertColor(user[2])+";");
							z1.appendChild(s1);
					});
					best.appendChild(z1);
					
					//iterate over tracks
					var oldMap = "old";
					tracks["maps"].forEach (function (map, index) {
						map["tracks"].forEach (function (track, index) {
							var z1 =  document.createElement('tr');
							if(oldMap !== map["mapname"]){
								var s1 =  document.createElement('th');
								s1.innerHTML = map["mapname"];
								s1.setAttribute("rowspan",map["tracks"].length);
								z1.appendChild(s1);
								oldMap = map["mapname"]
							}
							var s1 =  document.createElement('th');
							s1.innerHTML = track["trackname"];
							z1.appendChild(s1);
							var s1 =  document.createElement('th');
							s1.innerHTML = track["hardness"];
							s1.setAttribute("style","background: "+color[track["hardness"]-1]+";");
							z1.appendChild(s1);

							if(best_results[drone_id].hasOwnProperty(map["mapid"])){
								if(best_results[drone_id][map["mapid"]].hasOwnProperty(track["trackid"])){
									var best_result = "99:99:999";
									users.forEach (function (user, index) {
										if(best_results[drone_id][map["mapid"]][track["trackid"]].hasOwnProperty(user[0])){
											var userhas = best_results[drone_id][map["mapid"]][track["trackid"]][user[0]];
											if(userhas < best_result ){best_result = userhas}
										}

									});


									users.forEach (function (user, index) {
										if(best_results[drone_id][map["mapid"]][track["trackid"]].hasOwnProperty(user[0])){
											var s1 =  document.createElement('th');
											s1.innerHTML = best_results[drone_id][map["mapid"]][track["trackid"]][user[0]];
											if(best_result === best_results[drone_id][map["mapid"]][track["trackid"]][user[0]]){
												s1.setAttribute("style","padding:0 50px 0 50px;color: green;");
											}else{
												s1.setAttribute("style","padding:0 50px 0 50px;");
											}
											
											z1.appendChild(s1);
										}else{
											var s1 =  document.createElement('th');
											z1.appendChild(s1);
										}

									});
								}else{
									users.forEach (function (user, index) {
										var s1 =  document.createElement('th');
										z1.appendChild(s1);
									});
								}
							}
							best.appendChild(z1);
						});	
					});	
				}

				function invertColor(hex) {
					if (hex.indexOf('#') === 0) {
						hex = hex.slice(1);
					}
					// convert 3-digit hex to 6-digits.
					if (hex.length === 3) {
						hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
					}
					if (hex.length !== 6) {
						throw new Error('Invalid HEX color.');
					}
					// invert color components
					var r = (255 - parseInt(hex.slice(0, 2), 16)).toString(16),
						g = (255 - parseInt(hex.slice(2, 4), 16)).toString(16),
						b = (255 - parseInt(hex.slice(4, 6), 16)).toString(16);
					// pad each with zeros and return
					return '#' + padZero(r) + padZero(g) + padZero(b);
				}

				function padZero(str, len) {
					len = len || 2;
					var zeros = new Array(len).join('0');
					return (zeros + str).slice(-len);
				}
				
			</script>
		</div>

		{% include "footer.html" %}
	</body>
</html>