<!--based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav-->
<div id="mysidemenu" class="sidemenu">
	<p style="white-space: nowrap;" >Liftoff Scores</p>
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a style="white-space: nowrap;" href="/" {% if active == "overview" %} id="active"{% endif %}>Overview</a>
	<a style="white-space: nowrap;" href="/result" {% if active == "results" %} id="active"{% endif %}>Add Time</a>
	<a style="white-space: nowrap;" href="/random" {% if active == "random" %} id="active"{% endif %}>Random Track</a>
	<a style="white-space: nowrap;" href="/breakingpilot" {% if active == "breakingpilot" %} id="active"{% endif %}>Breaking Pilot</a>
	<a style="white-space: nowrap;" href="/users" {% if active == "users" %} id="active"{% endif %}>Users</a>
	<a style="white-space: nowrap;" href="/drone" {% if active == "drones" %} id="active"{% endif %}>Drone</a>
	<a style="white-space: nowrap;" href="/imex" {% if active == "imex" %} id="active"{% endif %}>Import / Export</a>
</div>
<script>
	function openNav() {
	document.getElementById("mysidemenu").style.width = "300px";
	document.getElementById("main").style.marginLeft = "300px";
	}

	function closeNav() {
	document.getElementById("mysidemenu").style.width = "0";
	document.getElementById("main").style.marginLeft = "0";
	}
</script>